body{

    padding: 0;
    margin: 0;
    background-color: #e3e3e3;
}

.container{
    position: absolute;
    top: 40%;
    left: 43%;
}

input{
    position: relative;
    width: 250px;
    height: 100px;
    background-color: #dcedc2;
    border-radius: 60px;
    box-shadow: inset 0  0 20px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    transition: 0.5s;
}

input:checked{
    background-color: #086972;
}

input::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 60px;
    top:0;
    left:0;
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.5s;

}

input:checked::before{
    left: 150px;
}
